body {
    margin: 8px;
    display: block;
}

#mainHeader {
    color: purple;
    text-align: center;
}
#mainHeading {
     /* Launch code tests ruined my aesthetics with this. Big sad :( I had to force this into a weird paragraph. */
    color: red;
}
#testP {
    font-size: 72px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(164, 13, 164);
}

.manaType {
    font-family: fantasy;
}

.funParagraph {
    /* Launch code tests ruined my aesthetics with this. Big sad :( I had to force this into a weird paragraph. */
    color: green;
}